@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background-color: #FEFDFF;
  color: #393F48;
  font-family: 'Poppins';
}